{% extends "baselayout.html" %}
{% load i18n %}
{% load stylesheet %}
{% load bootstrap3 %}
{% load guardian_tags %}
{% block extrajs %}
<script src="/static/js/spreadsheet.js"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>ID Glosa</th>
            <th>Configuração da dominante</th>
            <th>Configuração da mão esquerda</th>
            <th>Localização</th>
            <th>Traduções(Inglês)</th>
            <th>Traduções(Português)</th>
        </tr>
        {% for g in gloss_set %}
        <tr id="{{g.0.id}}">
            <td id="glossid">{{g.0}}</td>
            <td id="domhndsh">
                <a class="handshape_select" data-toggle="modal" data-target="#myModal" href="#">
                    <img src="{{ URL }}/dictionary/protected_media/handshapeimage/{{g.0.domhndsh}}/handshape_{{g.0.domhndsh}}.jpg" alt="Não preenchido" width="50" height="50"/>
                </a>
            </td>
            <td id="subhndsh">
                <a class="handshape_select" data-toggle="modal" data-target="#myModal" href="#">
                    <img src="{{ URL }}/dictionary/protected_media/handshapeimage/{{g.0.subhndsh}}/handshape_{{g.0.subhndsh}}.jpg" alt="Não preenchido" width="50" height="50"/>
                </a>
            </td>
            <td id="localizacao">
                <select name="loc">
                    <option value="testa" {% if g.0.localizacao == "testa" %} selected="selected" {% endif %}>Testa</option>
                    <option value="olhos_nariz" {% if g.0.localizacao == "olhos_nariz" %} selected="selected" {% endif %}>Olhos e Nariz</option>
                    <option value="boca_queixo" {% if g.0.localizacao == "boca_queixo" %} selected="selected" {% endif %}>Boca e Queixo</option>
                    <option value="pescoco" {% if g.0.localizacao == "pescoco" %} selected="selected" {% endif %}>Pescoço</option>
                    <option value="ombro" {% if g.0.localizacao == "ombro" %} selected="selected" {% endif %}>Ombro</option>
                    <option value="bracos" {% if g.0.localizacao == "bracos" %} selected="selected" {% endif %}>Braços</option>
                    <option value="pernas" {% if g.0.localizacao == "pernas" %} selected="selected" {% endif %}>Pernas</option>
                    <option value="espaco_neutro" {% if g.0.localizacao == "espaco_neutro" %} selected="selected" {% endif %}>Espaço Neutro</option>
                    <option value="tronco" {% if g.0.localizacao == "tronco" %} selected="selected" {% endif %}>Tronco</option>
                </select>
            </td>

            <td class="translation" id="traducao_ingles">
                {% for t in g.1 %}
                    {% if t.language_id == 1 %}
                        <input type="text" name="traduc_ing" value="{{t.get_translation_text}}">
                    {% endif %}
                {% endfor %}
            </td>
            <td class="translation" id="traducao_portugues">
                {% for t in g.1 %}
                    {% if t.language_id == 3 %}
                        <input type="text" name="traduc_ptbr" value="{{t.get_translation_text}}">
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</form>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
            {% for conf in handshapes %}
                <a id="{{conf.machine_value}}" href="#"><img src="{{URL}}/dictionary/protected_media/handshapeimage/{{conf.machine_value}}/handshape_{{conf.machine_value}}.jpg" width="50" height="50"/></a>
            {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

{% endblock %}
